#details{
	background-image: url('../../assets/images/dhl_bg_1.png');
    position:relative;
	width:100%;
	height: 120vh;
	box-sizing: border-box;
	background-position: right;
	background-repeat: no-repeat;
	background-color: #edf1fd;
	background-position-y: 22%;
	background-position-x: 95%;
}
@media (max-width: 600px){
	#details{
		background-image: none;
	}
}