
#main{
	background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(52, 58, 64, 1)),
    url('../../assets/images/DHL-montage.jpg');
    position:relative;
	width:100%;
	height: 100vh;
	box-sizing: border-box;
	background-size: cover;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-color: #edf1fd;
	background-position-x: 20%;
}
.HomePage{
	top:10%;
}
.home-content p{
	color: #484a47;
	font-family: 'Gothic A1', sans-serif;
}
.home-content{
	font-family: 'Gothic A1', sans-serif;
	width: 60%;
	position: absolute;
	top: 30%;
	left: 50%;	
	transform: translate(-50%, -50%);
	text-align: center;
}
.home-content span{
	font-size: 1.8rem;
	font-weight: 600;
}
@media (max-width: 600px) {
	.home-content{
		width:100%;
		top:35%;
	}
}


