
.result-info{
	width: 60%;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

@media (max-width: 600px) {
	.result-info{
		width:100%;
		top:35%;
	}
}