
footer{
	height:100px;
	display: flex;
	flex-direction: column;
	position: fixed;
	bottom:0px;
	width:100%;
}
.social-icons a{
	width:40px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#e6e3e3;
	margin:20px 10px;
	border-radius:50%;
	text-decoration: none;
}
.social-icons{
	display: flex;
	margin-left: auto;
	order: 2;
	
}
.social-icons i,.social i{
	color:#000000;
}
.social-icons a:hover{
	background-color:#7e7d7d;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	transition:all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i{
	color:#FFFFFF;
	transition:all ease 0.5s;
}
@media(max-width:550px){

    footer{
        width:130%;
    }
	.social-icons{
		display: flex;
		margin-right: auto;
	}
}

@media only screen 
and (min-device-width : 600px) 
and (max-device-width : 800px){
    footer{
        width:130%;
    }
}