.info_wrapper {
    background:#fff;
    width:700px;
    max-width:100%;
    box-sizing:border-box;
    padding:15px;
    margin:2% auto 0;
    position:relative;
    z-index:1;
    -webkit-box-shadow:0 23px 4px -21px rgba(0, 0, 0, 0.9);
    -moz-box-shadow:0 23px 4px -21px rgba(0, 0, 0, 0.9);
    box-shadow:0 23px 4px -21px rgba(0, 0, 0, 0.9);
}
.info_container {
    padding:15px;
    border:1px dashed #ccc;
}
.info_wrapper h2 {
    font-size:1.5em;
    line-height:1.5em;
    margin:0;
}
.info_wrapper .title_container {
    text-align:center;
    margin:-15px -15px 15px;
    padding:15px 0;
    border-bottom:1px dashed #ccc;
}
.info_wrapper h3 {
    font-size:1.1em;
    font-weight:normal;
    line-height:1.5em;
    margin:0;
}
.info_wrapper .row {
    margin:10px -15px;
}
.info_wrapper .row > div {
    padding:0 15px;
    box-sizing:border-box;
}
.info_wrapper .col_half {
    width:50%;
    float:left;
}
.info_wrapper label {
    display:block;
    margin:0 0 5px;
}

@media (max-width: 600px) {
    .info_wrapper .col_half {
        width:100%;
        float:none;
    }
    .info_wrapper label {
        margin:10px 0;
    }
}