@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #6c757d;
  border-right: none;
  padding: 6px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  font-size: 18px;
}

.searchTerm:focus{
  color: #3a506b;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #6c757d;
  background: #6c757d;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 600px) {
	.wrap{
        width: 50%;
		top: 56%;
    }
}
